@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Denktank</h1>
</div>




<section class="cart-section" id="cartSectionContainer">
    <div class="shippingCostContainer">
        <img src="./" alt="package icon"/>
        <p id="shippingCost-text"></p>
        <div id="shippingCost-progressBarContainer">
            <div id="shippingCost-progressBar"></div>
        </div>
    </div>
    <div class="cart-items-container">
    @foreach (var item in Model.CartItems)
    {
        <div class="cart-item-conainer">
            <img src="@item.imgPath" alt="product"/>
            <div class="cart-item-title">@item.Product.Name</div>
            <div class="cart-item-price">€@item.Product.Price</div>
            <div class="change-item-amount-container">
                <button type="button" asp-action="cart-item-amount-reduce" data-id="@item.Product.Id">-</button>
                <div class="cart-item-amount-text">@item.Quantity</div>
                <button type="button" asp-action="cart-item-amount-add" data-id="@item.Product.Id">+</button>
            </div>
            <button type="button" asp-action="cart-item-remove" class="cart-item-removeBtn">
                <img class="cart-item-remove-img" src="@Model.removeImg" alt="X"/>
            </button>
        </div>
    }
    </div>
    <div class="cart-item-paying-Container">
        <div class="cart-item-paying-subtotal-container">
            <div class="cart-item-paying-subtotal-text">Subtotaal</div>
            <div class="cart-item-paying-subtotal-value">@Model.cartSubtotal</div>
        </div>
        <div class="cart-item-paying-shippingCost-container">
            <div class="cart-item-paying-shippingCost-text">Verzendkosten</div>
            <div class="cart-item-paying-shippingCost-value">@Model.cartShippingCost</div>
        </div>
        <hr />
        <div class="cart-item-paying-total">Totaal</div>
        <button type="button" class="cart-item-buyBtn" asp-action="cart-item-buy">Afrekenen</button>
    </div>
</section>